:root {
  --white: ghostwhite;
  --off-white:#ddd;
  --off-black: #333;
  --light-blue: #c6dcf3;
  --blue: #80b4e8;
  --dark-blue: #092847;
  --very-light-green:#e4ebd2;
  --light-green:#bcd187;
  --green: #B1D25E;
  --dark-green:#96bc37;
  --dark-green-inversion:#229810;
  --light-yellow: #e3d9b1;
  --yellow: #D0B960;
  --purple: #273582;
  --light-red:rgb(245, 205, 211);
  --red:rgb(224, 8, 40);
  --gray:hsl(0, 0%, 80%);
}
html, body, p, span, h1, h2, h3, h4, h5, h6, div, .button{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family:'Montserrat', 'Courier Prime', Courier, monospace;
}
.content html, .content body, .content p, .content span, .content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .content div{
    font-family:'IBM Plex Mono', 'Courier New', Courier, monospace;
}
p, span, div{
  line-height:2.25rem;
}
body{
  overflow-x: hidden;
  background-color: var(--white);
}
/** LAYOUT **/
ol li, ul li{
  padding-top:.5em;
  padding-bottom:.5em;
}
ol li ul li {
  padding-top:1em;
  padding-bottom:0em;
}
/** LINKS **/
a{
  color: var(--blue);
  text-decoration: none;
  font-weight:bold;
}
a:hover{
  color: var(--light-blue);
}
/* INPUTS AND SPECIAL ELEMENTS */
label{
  font-size:.75em;
  padding:.5em;
  font-weight:bold;
}
/*** EXPLORE MOVING THIS TO STORYMAKER ***/
/*** TODO: try to get all input css out of here - componentize etc...***/
.text-input{
  color:var(--off-black);
  padding: .25em .125em;
  border:solid 1px #555;
  border-radius:5px;
  background-color:transparent;
  text-align: left;
  width:100%;
}
.textarea-input {
  font-weight: bold;
  padding: 0.25em;
  padding-left:1rem;
  padding-bottom:0;
  resize: none;
  overflow: hidden;
  line-height: 2em;
  background-color: white;
}
/*** MOVE TO TextInput.js ***/
.textInput{
  padding:.75em 4em ;
  border-radius:10px;
  width:50%;
  display:inline;
  border:solid 2px var(--off-white);
}
.errorTextInput{
  background-color: var(--light-red);
  border-color: var(--red);
}
.inputSuccess{
  background-color:var(--very-light-green);
  border-color: var(--green);
}
audio{
  margin:1em;
  border: solid 3px blue;
  border-radius:30px;
}
@keyframes flashInvert {
  0%   { color: white; background-color: black; }
  50%  { color: black; background-color: white; }
  100% { color: white; background-color: black; }
}
.rounded-icon {
  border-radius: 50%;
}
.flashing-icon {
  animation: flashInvert 1.25s infinite;
  padding: 1px;
  transition: color 0.5s ease, background-color 0.5s ease;
  cursor: pointer;
}
.flashing-icon:hover{
  animation: none;
  color:rgb(47, 47, 208);
  background-color: white;
}
/* GENERAL ELEMENT CSS */
/* TODO: eliminate / replace */
.no-padding{
  padding:0;
}
.noPadding{
  padding:0;
}
.noPaddingTop{
  padding-top:0;
}
.paddingTop{
  padding-top:1rem;
}
.paddingBottom{
  padding-bottom:1rem;
}
.margin-bottom{
  margin-bottom:1rem;
}
.negativeMarginBottom{
  margin-bottom:1em;
}
.red-border{
  border:solid 2px var(--red);
}
.black-border, .test-border{
  border:solid 2px black;
}
.border-bottom{
  border-bottom:solid 2px #444;
}
.borderBottomGray{
  border-bottom:solid 2px var(--gray);
}
.bold{
  font-weight:bold;
}
.small-text{
  font-size:small;
}
.italic{
  font-style: italic;
}
.no-margin-padding{
  margin:0;
  padding:0;
}
.notice{
  font-weight:bold;
  font-style:italic;
}
.error{
  color:red;
}
.success{
  color:var(--dark-green-inversion)
}
.hide {
  display:none;
}
.full-width{
  width:100%;
}
/* DIV and P SPECIFIC */

.button-row {
  display: flex;
  flex-direction: row;
  gap: 1rem; /* Adjust spacing between buttons */
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; /* Allows wrapping on smaller screens */
  width:100%;
}
.commonDiv{
  padding:1rem;
  padding-top:1rem;
  padding-bottom:1rem;
  /* border: solid 2px red; */
}
.standardVerticalPadding{
  padding-top:.5rem;
  padding-bottom:.5rem;
}
.pStandard{
  font-size:.75em;
}
.resultsDiv{
  width:100%;
  background-color: white;
}
.formDiv{
  width:100%;
  max-width:1400px;
  /* border: solid 2px green; */
}
.innerResultsDiv{
  border:solid #555 2px;
  text-align:left;
  border-radius:15px;
  padding:1em;
  font-size:.75em;
}
.divFixedBottom{
  text-align: center;
  position:fixed;
  bottom:5px;
  margin:auto;
  width:100vw;
  max-width: 1400px;
}
.preContentDiv{
  width:100%;
  border:solid 2px white;
}
/* This wraps the grid and constrains it */
.table-scroll-container {
  width: 100%;
  overflow-x: auto;
}
/* AG Grid content can be as wide as it needs */
.ag-theme-alpine.responsive-grid {
  width: max-content;
  min-width: 100%;
  height: 300px;
}
/* Responsive rules */
@media screen and (max-width: 1000px) {
  .table-scroll-container {
    width:100%;
  overflow-x: auto;
  }
  .ag-theme-alpine.responsive-grid {
    width: 1200px;
    min-width: 100%;
    height: 300px;
  }
}
@media screen and (max-width: 768px) {
  .displayNoneSm{
    display:none;
  }
  p, span, div{
    line-height:1.75rem;
  }
  .button-row {
    flex-direction: column;
    gap: 1rem; /* Adjust spacing between buttons */
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; /* Allows wrapping on smaller screens */
    width:100%;
  }
  .commonDiv{
    padding-left:0;
    padding-right:0;
  }
}


