.pageDescription{
    font-size:.85em;
    font-weight:bold;
    padding-bottom:1em;
  }
  .textInput{
    padding:.75em 4em ;
    border-radius:10px;
    width:50%;
    display:inline;
  }
  .errorTextInput{
    padding:.75em 4em ;
    border-radius:10px;
    width:50%;
    display:inline;
    border:solid 2px red;
    background-color:red;
  }
  .button{
    padding:.75em ;
    border-radius:10px;
    font-weight:bold;
    margin-left:1em;
    background-color:#ddd;
    color:#333;
    width:25%;
    display:inline;
  }
  .button:hover{
    background-color:ghostwhite;
    color:black;
  }
  .resultsDiv, .formDiv{
    width:100%;
    max-width:1400px;
  }
  .resultsDiv{
    margin-top:2.5em;
    border:solid #555 2px;
    text-align:left;
    border-radius:15px;
    padding:1em;
    font-size:.75em;
  }
  .btnCancelScroll{
    padding:.75em ;
    border-radius:10px;
    font-weight:bold;
    margin-left:1em;
    background-color:#ddd;
    color:#333;
    width:25%;
    display:inline;
    position:fixed;
    bottom: 25px;
    right:50%;
    transform: translateX(50%);
    opacity:.75;
  }
  .btnCancelScroll:hover{
    background-color:ghostwhite;
    color:black;
    opacity:1;
  }
  .pageDescription p{
    font-size:.85em;
    padding:0;
    margin:1em;
  }
  .showHowItWorksDiv{
    margin-top:2.5em;
    border:solid #555 2px;
    text-align:left;
    border-radius:15px;
    padding:1em;
    font-size:.75em;
  }
  @keyframes flashInvert {
    0%   { color: white; background-color: black; }
    50%  { color: black; background-color: white; }
    100% { color: white; background-color: black; }
  }
  .flashing-icon {
    animation: flashInvert 1.25s infinite;
    border-radius: 50%;
    padding: 4px;
    transition: color 0.5s ease, background-color 0.5s ease;
    cursor: pointer;
    margin-left: 8px; 
  }
.flashing-icon:hover{
    animation: none;
    color:rgb(47, 47, 208);
    background-color: white;
}
.close-icon{
    float:right;
}
  