.pStandard{
  font-size:.75em;
}
.pageDescription{
  font-weight:bold;
  margin-bottom:1em;
  padding-bottom:.5em;
  border-bottom:solid 2px #444;
}
.pageDescription p{
  padding:0;
  margin:1em;
}
.textInput{
  padding:.75em 4em ;
  border-radius:10px;
  width:50%;
  display:inline;
}
.errorTextInput{
  padding:.75em 4em ;
  border-radius:10px;
  width:50%;
  display:inline;
  border:solid 2px red;
  background-color:red;
}

.resultsDiv, .formDiv{
  width:100%;
  max-width:1400px;
}
.innerResultsDiv{
  margin-top:2.5em;
  border:solid #555 2px;
  text-align:left;
  border-radius:15px;
  padding:1em;
  font-size:.75em;
}
.btnCancelScroll{
  padding:.75em ;
  border-radius:10px;
  font-weight:bold;
  margin-left:1em;
  width:25%;
  display:inline;
  position:fixed;
  bottom: 75px;
  right:50%;
  transform: translateX(50%);
  opacity:.75;
}
.btnCancelScroll:hover{
  background-color:ghostwhite;
  color:black;
  opacity:1;
}
.fetchAudioBottom{
  bottom: 5px;
}
@keyframes flashInvert {
  0%   { color: white; background-color: black; }
  50%  { color: black; background-color: white; }
  100% { color: white; background-color: black; }
}
.flashing-icon {
  animation: flashInvert 1.25s infinite;
  border-radius: 50%;
  padding: 4px;
  transition: color 0.5s ease, background-color 0.5s ease;
  cursor: pointer;
  margin-left: 8px; 
}
.flashing-icon:hover{
  animation: none;
  color:rgb(47, 47, 208);
  background-color: white;
}
.close-icon{
    float:right;
    height:.9em;
    width:1em;
    margin-top:1em;
}
.how-it-works-container {
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    padding:0;
    margin:0;
}
.how-it-works-container.expanded {
    margin-top:1.5em;
    margin-bottom:1.5em;
    border:solid #555 2px;
    text-align:left;
    border-radius:15px;
    padding:0 1em;
    font-size:.75em;
    max-height: 700px; /* or something high enough to contain your content */
    opacity: 1;
    visibility: visible;
}
@media (max-width: 768px) {
  .how-it-works-container.expanded {
    padding: 0 0;
  }
}
.notice{
  text-decoration: underline;
  font-size:.75em;
  font-style:italic;
  color:lightpink
}
.preContentDiv{
  width:100%;
  border:solid 2px white;
}