a{
  color:lightblue;
  text-decoration: none;
  font-weight:bold;
}
a:hover {
  color: #ADD8E6;
  text-decoration: underline;
}
.App {
  text-align: center;
}
ol li {
  padding-bottom:.75em;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.fade-out {
 opacity: 0;
 transition: opacity 1s ease-in-out;
}
.pageTitle{
  margin-bottom:1em;
}

.pageDescription{
  font-size:.85em;
  font-weight:bold;
  padding-bottom:1em;
}
.textInput{
  padding:.75em 4em ;
  border-radius:10px;
  width:50%;
  display:inline;
}
.errorTextInput{
  padding:.75em 4em ;
  border-radius:10px;
  width:50%;
  display:inline;
  border:solid 2px red;
  background-color:red;
}
.button{
  padding:.75em ;
  border-radius:10px;
  font-weight:bold;
  margin-left:1em;
  background-color:#ddd;
  color:#333;
  width:25%;
  display:inline;
}
.button:hover{
  background-color:ghostwhite;
  color:black;
}
.resultsDiv, .formDiv{
  width:100%;
  max-width:1400px;
}
.resultsDiv{
  margin-top:2.5em;
  border:solid #555 2px;
  text-align:left;
  border-radius:15px;
  padding:1em;
  font-size:.75em;
}
.btnCancelScroll{
  padding:.75em ;
  border-radius:10px;
  font-weight:bold;
  margin-left:1em;
  background-color:#ddd;
  color:#333;
  width:25%;
  display:inline;
  position:fixed;
  bottom: 25px;
  right:50%;
  transform: translateX(50%);
  opacity:.75;
}
.btnCancelScroll:hover{
  background-color:ghostwhite;
  color:black;
  opacity:1;
}
.pageDescription p{
  font-size:.85em;
  padding:0;
  margin:1em;
}
label{
  font-size:.75em;
  padding:.5em;
}