
.button{
  border:solid 1px var(--off-black);
  padding:.75em ;
  border-radius:15px;
  font-weight:bold;
  font-size:1rem;
  background-color:var(--off-white);
  color:var(--off-black);
  width:50%;
  display:inline;
  transition: background-color 0.2s ease, color 0.2s ease; /* Added transition */
}
.button:hover{
  background-color:var(--white);
  color:black;
}


.greenButton{
  background-color: var(--light-green);
  border-color: var(--dark-green-inversion);
}
.greenButton:hover{
  color:var(--white);
  background-color: var(--dark-green-inversion);
}


.cancelScroll{
  background-color: var(--gray);
  width:25%;
  opacity:.85;
}
.cancelScroll:hover{
  background-color: var(--off-black);
  background-color: rgb(71, 0, 0);
  color: var(--white);
  opacity:1;
}


@media screen and (max-width: 768px) {
  .button{
    width:100%;
  }
}