.textInput {
  color:var(--off-black);
  padding: .75em 1em;
  border:solid 2px var(--off-white);
  border-radius:10px;
  text-align: left;
  max-width:100%;
  box-sizing: border-box;
}

.inputSuccess{
  background-color:var(--very-light-green);
  border-color: var(--green);
}

.errorTextInput{
  background-color: var(--light-red);
  border-color: var(--red);
}

.halfWidth{
  width:50%;
}

@media screen and (max-width: 768px) {
  .halfWidth{
    width:100%;
  }
}