


@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
    opacity:.75
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 7s linear;
    }
  }
  
  
  .App-logo{
    display:inline;
  }