.character-config{
  max-width:768;
  height:auto;
  margin: 0 auto;
  position: relative;
}
  /* TODO: move this and responsive below into App.css if this is converted to module.css */
.button-row {
  display: flex;
  flex-direction: row;
  gap: 1rem; /* Adjust spacing between buttons */
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; /* Allows wrapping on smaller screens */
  width:100%;
}
h3{
  margin-top:0;
}
.tdLeft{
    text-align:left;
}
.tdRight{
    text-align:right;
}
.full-width{
  width:100%;
}
.select-input{
  width:100%;
}
.inputContainer{
  width:100%;
  padding:0 15%;
}
.edgy-icon{
  font-size:1.25rem;
}
.text-input{
  padding: .325em .125em;
  min-width:300px;
}

@media screen and (max-width: 768px) {
  .inputContainer{
    padding:0 1em;
  }
  .button{
    width:90%;
  }
  .text-input{
    min-width: 200px;
  }
  .button-row {
    flex-direction: column;
    gap: 1rem; /* Adjust spacing between buttons */
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; /* Allows wrapping on smaller screens */
    width:100%;
  }
  .commonDiv{
    padding-left:0;
    padding-right:0;
  }
  .commonDiv .commonDiv{
    padding-left:0;
    padding-right:0;
  }
}