.character-config{
    max-width:768;
    height:auto;
    margin: 0 auto;
    position: relative;
}
.inputContainer{
    padding:0 1em;
    width:100%
}

@media screen and (min-width: 768px) {
  .inputContainer{
    padding:0 15%;
    width:100%
}
}

.inputDiv{

}
.tdLeft{
    text-align:left;
}
.tdRight{
    text-align:right;
}
label{
    font-size:.85em;
    padding:.5em;
    font-weight:bold
  }
select, .text-input{
    color:ghostwhite;
    padding: .25em .125em;
    border:solid 1px #555;
    border-radius:5px;
    background-color:transparent;
    text-align: left;
    width:100%;
  }
  .text-input {
    margin-top:2em;
    font-weight: bold;
    padding: 0.25em;
    padding-bottom:0;
    resize: none;
    overflow: hidden;
    line-height: 2em;
  }
  