.character-config{
    max-width:768;
    height:auto;
    margin: 0 auto;
    position: relative;
    padding-top:0;
}
h3{
  margin-top:0;
}
.inputContainer{
    padding:0 1em;
    width:100%
}

.tdLeft{
    text-align:left;
}
.tdRight{
    text-align:right;
}

.edgy-icon{
  font-size:.5em;
  display:block;
  margin:auto;
  margin-top:1em;
}


.button{
  width:90%;
  margin-top:.25em;
}
.full-width{
  width:100%;
}


.select-input{
  width:100%;
}
.text-input{
  padding: .325em .125em;
  min-width: 250px;
}

@media screen and (min-width: 768px) {
  .inputContainer{
    padding:0 15%;
    width:100%
  }
  .button{
    width:22.5%;
  }
  .edgy-icon{
    float:right;
    margin-top:0;
  }
  .text-input{
    min-width:300px;
  }
}