
/* This wraps the grid and constrains it */
.table-scroll-container {
  width: 100%;
  /* overflow-x: auto; */
  overflow-x: scroll;
}
/* AG Grid content can be as wide as it needs */
.ag-theme-alpine.responsive-grid {
    min-width: 100%;
  width: max-content;
  height: 350px;
}

.ag-theme-alpine .ag-header-cell{
  padding: 0 !important;
  padding-left: 5px;
  padding-right: 5px;
}
.ag-theme-alpine .ag-header-cell-label{
    justify-content: center;
}

.ag-theme-alpine .ag-cell {
  text-align: center;
  align-items: center;
  justify-content: center;
}

@keyframes flashGreen {
  0%   { background-color: rgb(223, 255, 211); }
  50%  { background-color: rgb(62, 222, 62); }
  100% { background-color: rgb(223, 255, 211); }
}

.flash-green {
  animation: flashGreen 1s ease-in-out infinite;
  border-radius: 5px;
}

@keyframes flashRed {
  0%   { background-color: rgb(246, 209, 209); }
  50%  { background-color: rgb(255, 84, 84); }
  100% { background-color: rgb(246, 209, 209); }
}

.flash-red {
  animation: flashRed 1s ease-in-out infinite;
  border-radius: 5px;
}

/* Responsive rules */
@media screen and (max-width: 1000px) {
  .table-scroll-container {
    width:100%;
  overflow-x: scroll;
  }
  .ag-theme-alpine.responsive-grid {
    width: 100%; 
    height: 350px;
  }
  .ag-grid-inner-div{
    width: 150%;
  overflow-x: hidden;
  }
}

/* Responsive rules */
@media screen and (max-width: 768px) {
  
}

