
.theNav{
  padding-bottom: .5rem;
}
.mobileNav {
  display: none;
  width:90%;
}
.activeLink{
  color: var(--light-blue);
}
/* Hide mobile nav by default */
.hamburger {
  font-size: 2rem;
  background: none;
  border: solid 2px grey;
  cursor: pointer;
  color:white;
  border-radius:10px;
  margin-left:1rem;
}
.mobileMenu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

.mobileMenuOpen {
  max-height: 500px;
  opacity: 1;
}

.mobileLink {
  background-color: #222;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  border: solid 2px grey;
  color: white;
  margin-top:.5rem;
}

.activeLink, .mobileLink:hover{
  color: var(--light-blue);
}
.activeLinkMobile, .mobileLink:hover{
  background-color:black;
}


@media screen and (max-width: 768px) {
  .desktopNav {
    display: none;
  }
  .mobileNav {
    display: inline-block;
  }
}
