.button{
    padding:.75em ;
    border-radius:10px;
    font-weight:bold;
    font-size:.6em;
    margin-left:1em;
    background-color:#ddd;
    color:#333;
    width:25%;
    display:inline;
    transition: background-color 0.2s ease, color 0.2s ease; /* Added transition */
  }
  .button:hover{
    background-color:ghostwhite;
    color:black;
  }

  .green-button{
    background-color:rgb(202, 247, 202);
  }
  .green-button:hover{
    color:white;
    background-color:rgb(0, 126, 0);
  }
  .yellow-button{
    background-color:lightyellow;
  }
  .yellow-button:hover{
    background-color:rgb(251, 251, 143);
  }
  .red-button{
    background-color:rgb(245, 205, 211);
  }
  .red-button:hover{
    color:white;
    background-color:rgb(224, 8, 40);
  }
  label{
    font-size:.85em;
    padding:.5em;
    font-weight:bold
  }
select, .select-input, .text-input{
    color:ghostwhite;
    padding: .25em .125em;
    border:solid 1px #555;
    border-radius:5px;
    background-color:transparent;
    text-align: left;
    width:100%;
  }
  .textarea-input {
    margin-top:2em;
    font-weight: bold;
    padding: 0.25em;
    padding-bottom:0;
    resize: none;
    overflow: hidden;
    line-height: 2em;
  }
  .no-padding{
    padding:0;
  }
  .red-border{
    border:solid 2px red;
  }
  .black-border{
    border:solid 2px black;
  }
  .notice{
    text-decoration: italic;
  }
  audio{
    margin:1em;
    border: solid 3px blue;
    border-radius:30px;
  }
  .test-border{
    border:solid 2px grey;
  }
  .bold{
    font-weight:bold;
  }
  .small-text{
    font-size:small;
  }
  .italic{
    font-style: italic;
  }
  .no-margin-padding{
    margin:0;
    padding:0;
  }