:root {
  --white: ghostwhite;
  --off-white:#ddd;
  --off-black: #333;
  --light-blue: #c6dcf3;
  --blue: #80b4e8;
  --very-light-green:#e4ebd2;
  --light-green:#bcd187;
  --green: #B1D25E;
  --dark-green:#96bc37;
  --dark-green-inversion:#229810;
  --light-yellow: #e3d9b1;
  --yellow: #D0B960;
  --purple: #273582;
  --light-red:rgb(245, 205, 211);
  --red:rgb(224, 8, 40);

}
html, body, p, span, h1, h2, h3, h4, h5, h6, div, .button{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family:'Montserrat', 'Courier Prime', Courier, monospace;
}
body{
  overflow-x: hidden;
}
/** LAYOUT **/
.theNav{
  padding-bottom:1em;
}
.app {
  text-align: center;
}
.app-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--white);
  overflow: hidden;
  transition: height 0.5s ease;
}
.pageTitle{
  margin-bottom:1em;
}
ol li, ul li{
  padding-top:.5em;
  padding-bottom:.5em;
}
ol li ul li {
  padding-top:1em;
  padding-bottom:0em;
}
/* Hide mobile nav by default */
.hamburger {
  font-size: 2rem;
  background: none;
  border: solid 2px grey;
  cursor: pointer;
  color:white;
  margin-bottom:1rem;
  border-radius:10px;
  margin-left:1rem;
}
.mobile-nav {
  display: none;
  width:90%;
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}
.mobile-menu.open {
  max-height: 500px; /* adjust if your menu might be taller */
  opacity: 1;
}
.mobile-link {
  background-color: #222;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  border: solid 2px grey;
  color: white;
}
/* page navigation fade-in animation */
.fade-wrapper {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-enter {
  opacity: 0;
}
/* Responsive rules */
@media screen and (max-width: 768px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }
}

/** LINKS **/
a{
  color: var(--blue);
  text-decoration: none;
  font-weight:bold;
}
a:hover, .activeLink{
  color: var(--light-blue);
}
/** BUTTONS **/
.button{
  border:solid 1px var(--off-black);
  padding:.75em ;
  border-radius:10px;
  font-weight:bold;
  font-size:.6em;
  margin-left:1em;
  background-color:var(--off-white);
  color:var(--off-black);
  width:25%;
  display:inline;
  transition: background-color 0.2s ease, color 0.2s ease; /* Added transition */
}
.button:hover{
  background-color:var(--white);
  color:black;
}
.btnCancelScroll{
  padding:.75em ;
  border-radius:10px;
  font-weight:bold;
  width:25%;
  display:inline;
  opacity:.85;
}
.btnCancelScroll:hover{
  opacity:1;
}
.green-button{
  background-color: var(--light-green);
  border-color: var(--dark-green-inversion);
}
.green-button:hover{
  color:var(--white);
  background-color: var(--dark-green-inversion);
}
.yellow-button{
  background-color:var(--light-yellow);
}
.yellow-button:hover{
  background-color:var(--yellow);
}
.red-button{
  background-color:var(--light-red);
}
.red-button:hover{
  color:var(--white);
  background-color:var(--red);
}
.purple-button{
  background-color:var(--purple);
  color:var(--white);
  border-color: var(--white);
}
.purple-button:hover{
  color:var(--purple);
}
/* INPUTS AND SPECIAL ELEMENTS */
label{
  font-size:.75em;
  padding:.5em;
  font-weight:bold;
}
select, .select-input, .text-input{
  color:var(--white);
  padding: .25em .125em;
  border:solid 1px #555;
  border-radius:5px;
  background-color:transparent;
  text-align: left;
  width:100%;
}
.textarea-input {
  margin-top:2em;
  font-weight: bold;
  padding: 0.25em;
  padding-bottom:0;
  resize: none;
  overflow: hidden;
  line-height: 2em;
}
audio{
  margin:1em;
  border: solid 3px blue;
  border-radius:30px;
}
.textInput{
  padding:.75em 4em ;
  border-radius:10px;
  width:50%;
  display:inline;
  border:solid 2px var(--off-white);
}
.errorTextInput{
  background-color: var(--light-red);
  border-color: var(--red);
}
.inputSuccess{
  background-color:var(--very-light-green);
  border-color: var(--green);
}
@keyframes flashInvert {
  0%   { color: white; background-color: black; }
  50%  { color: black; background-color: white; }
  100% { color: white; background-color: black; }
}
.flashing-icon {
  animation: flashInvert 1.25s infinite;
  border-radius: 50%;
  padding: 4px;
  transition: color 0.5s ease, background-color 0.5s ease;
  cursor: pointer;
  margin-left: 8px; 
}
.flashing-icon:hover{
  animation: none;
  color:rgb(47, 47, 208);
  background-color: white;
}
/* GENERAL ELEMENT CSS */
.no-padding{
  padding:0;
}
.margin-bottom{
  margin-bottom:1rem;
}
.red-border{
  border:solid 2px var(--red);
}
.black-border, .test-border{
  border:solid 2px black;
}
.border-bottom{
  border-bottom:solid 2px #444;
}
.bold{
  font-weight:bold;
}
.small-text{
  font-size:small;
}
.italic{
  font-style: italic;
}
.no-margin-padding{
  margin:0;
  padding:0;
}
.notice{
  font-weight:bold;
  font-style:italic;
}
.error{
  color:red;
}
.success{
  color:var(--dark-green-inversion)
}
/* DIV and P SPECIFIC */
.pStandard{
  font-size:.75em;
}
.pageDescription{
  margin-bottom:1em;
  padding-bottom:.5em;
}
.pageDescription p{
  padding:0;
  margin:1em;
  font-weight:bold;
}
.resultsDiv, .formDiv{
  width:100%;
  max-width:1400px;
}
.innerResultsDiv{
  margin-top:2.5em;
  border:solid #555 2px;
  text-align:left;
  border-radius:15px;
  padding:1em;
  font-size:.75em;
}
.divFixedBottom{
  text-align: center;
  position:fixed;
  bottom:5px;
  margin:auto;
  width:100%;
  max-width: 1400px;
}
.preContentDiv{
  width:100%;
  border:solid 2px white;
}
/*******  DATA TABLE ********/
/* .responsive-grid .ag-header-cell,
  .responsive-grid .ag-cell {
    padding:2px;
    text-align: center;
    border:solid 1px #eee;
  }

  .responsive-grid .ag-header-cell-label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    border: solid 1px #eee;
  }
@media screen and (max-width: 768px) {
  .responsive-grid .ag-header-cell,
  .responsive-grid .ag-cell {
    padding-left: 2px !important;
    padding-right: 2px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
  }
  .responsive-grid .ag-header-cell-label {
    padding: 0 !important;
  }
} */
/* This wraps the grid and constrains it */
.table-scroll-container {
  width: 100%;
  overflow-x: auto;
}
/* AG Grid content can be as wide as it needs */
.ag-theme-alpine.responsive-grid {
  width: max-content;
  min-width: 100%;
  height: 300px;
}
@media screen and (max-width: 1000px) {
  .table-scroll-container {
    width:100%;
  overflow-x: auto;
  }
  .ag-theme-alpine.responsive-grid {
    width: 1200px;
    min-width: 100%;
    height: 300px;
  }
}




/** POTENTIAL FONTS **/
/*
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family:'Courier New', Courier, monospace;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family:'Times New Roman', Times, serif;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-family:Arial, Helvetica, sans-serif;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-family:cursive;
  font-family:monospace;
  font-family:fantasy;
  */